In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [72]:
df_links = pd.read_csv('links.csv')
df_links

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
34203   151697    62636   76851.0
34204   151701  1773315  235450.0
34205   151703  1507355   58500.0
34206   151709  2436672  365065.0
34207   151711   388667   67844.0

[34208 rows x 3 columns]

In [73]:
df_movies=pd.read_csv('movies.csv')
df_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
34203,151697,Grand Slam (1967),Thriller
34204,151701,Bloodmoney (2010),(no genres listed)
34205,151703,The Butterfly Circus (2009),Drama
34206,151709,Zero (2015),Drama|Sci-Fi
34207,151711,The 2000 Year Old Man (1975),(no genres listed)

In [74]:
df_movies["genres"]

0        Adventure|Animation|Children|Comedy|Fantasy
1                         Adventure|Children|Fantasy
2                                     Comedy|Romance
3                               Comedy|Drama|Romance
4                                             Comedy
                            ...
34203                                       Thriller
34204                             (no genres listed)
34205                                          Drama
34206                                   Drama|Sci-Fi
34207                             (no genres listed)
Name: genres, Length: 34208, dtype: object

In [75]:
df_movies['title'] = df_movies['title'].apply(lambda x: x.strip())
df_movies["title"]=df_movies["title"].apply(lambda x:x.replace(x,x.lower()))
df_movies['title']

0                          toy story (1995)
1                            jumanji (1995)
2                   grumpier old men (1995)
3                  waiting to exhale (1995)
4        father of the bride part ii (1995)
                        ...
34203                     grand slam (1967)
34204                     bloodmoney (2010)
34205           the butterfly circus (2009)
34206                           zero (2015)
34207          the 2000 year old man (1975)
Name: title, Length: 34208, dtype: object

In [76]:
df_movies["year"] = df_movies["title"].str.extract(r'\((\d{4})\)')
df_movies["title"] = df_movies["title"].str.replace(r'\s*\(\d{4}\)', '')
df_movies

<ipython-input-76-d8c4a267b9fa>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_movies["title"] = df_movies["title"].str.replace(r'\s*\(\d{4}\)', '')

,movieId,title,genres,year
0,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,jumanji,Adventure|Children|Fantasy,1995
2,3,grumpier old men,Comedy|Romance,1995
3,4,waiting to exhale,Comedy|Drama|Romance,1995
4,5,father of the bride part ii,Comedy,1995
...,...,...,...,...
34203,151697,grand slam,Thriller,1967
34204,151701,bloodmoney,(no genres listed),2010
34205,151703,the butterfly circus,Drama,2009
34206,151709,zero,Drama|Sci-Fi,2015
34207,151711,the 2000 year old man,(no genres listed),1975

In [77]:
df_moviegenre=df_movies.copy()
for index, row in df_movies.iterrows():
    for genre in row['genres']:
        df_moviegenre.at[index, genre] = 1
df_moviegenre= df_moviegenre.fillna(0)
df_moviegenre

,movieId,title,genres,year,A,d,v,e,n,t,...,S,-,I,X,W,N,(,,g,)
0,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,1995,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,jumanji,Adventure|Children|Fantasy,1995,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,grumpier old men,Comedy|Romance,1995,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,waiting to exhale,Comedy|Drama|Romance,1995,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,father of the bride part ii,Comedy,1995,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34203,151697,grand slam,Thriller,1967,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34204,151701,bloodmoney,(no genres listed),2010,0.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
34205,151703,the butterfly circus,Drama,2009,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34206,151709,zero,Drama|Sci-Fi,2015,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34207,151711,the 2000 year old man,(no genres listed),1975,0.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0

In [78]:
df_movieratings = pd.read_csv('ratings.csv')
df_movieratings

         userId   movieId  rating     timestamp
0             1     169.0     2.5  1.204928e+09
1             1    2471.0     3.0  1.204927e+09
2             1   48516.0     5.0  1.204927e+09
3             2    2571.0     3.5  1.436165e+09
4             2  109487.0     4.0  1.436165e+09
...         ...       ...     ...           ...
9620243  103900    2124.0     4.0  9.988638e+08
9620244  103900    2125.0     5.0  1.000587e+09
9620245  103900    2144.0     5.0  9.988627e+08
9620246  103900    2145.0     5.0  9.988608e+08
9620247       1       NaN     NaN           NaN

[9620248 rows x 4 columns]

In [79]:
def get_recently_watched_movies():
    new = []
    print("Number of movies watched recently:")
    num_movies = int(input())

    for i in range(num_movies):
        dc = {}
        print("MOVIE WATCHED RECENTLY (in lowercase)=")
        dc["title"] = input()
        print("GIVEABLE RATING (out of 5) =")
        dc["rating"] = float(input())
        new.append(dc)

    usermovies = pd.DataFrame(new)  # Creating the DataFrame
    return usermovies

# Calling the function to get recently watched movies
recently_watched = get_recently_watched_movies()
print("Recently watched movies:")
recently_watched

Number of movies watched recently:
2
MOVIE WATCHED RECENTLY (in lowercase)=
fight club
GIVEABLE RATING (out of 5) =
5
MOVIE WATCHED RECENTLY (in lowercase)=
pulp fiction
GIVEABLE RATING (out of 5) =
5
Recently watched movies:

          title  rating
0    fight club     5.0
1  pulp fiction     5.0

In [80]:
new

[{'title': 'fight club', 'rating': 5.0},
 {'title': 'pulp fiction', 'rating': 5.0}]

In [81]:
inputid=df_movies[df_movies["title"].isin(usermovies["title"].tolist())]
usermovies=pd.merge(inputid,usermovies)
usermovies

   movieId         title                       genres  year  rating
0      296  pulp fiction  Comedy|Crime|Drama|Thriller  1994     5.0
1     2959    fight club  Action|Crime|Drama|Thriller  1999     5.0

In [82]:
usermovies = usermovies.drop(columns=["genres", "year"])
usermovies

   movieId         title  rating
0      296  pulp fiction     5.0
1     2959    fight club     5.0

In [83]:
a = int(input("How many movies do u want?\n"))
titles = [movie['title'] for movie in new]
print(f"{a} movies similar to {', '.join(titles)} are:\n")
movies = df_moviegenre[df_moviegenre['movieId'].isin(usermovies['movieId'].tolist())]
movies = movies.drop(columns=["year", "title", "genres"]).reset_index(drop=True)
movies = movies.transpose().dot(usermovies["rating"])
genre = df_moviegenre.set_index("movieId")
genre = genre.drop(columns=["title", "genres", "year"])
df_movierecommend = ((genre * movies).sum(axis=1)) / (movies.sum())
df_movierecommend = df_movierecommend.sort_values(ascending=False)
recommended_movies = df_movies[df_movies['movieId'].isin(df_movierecommend.head(a).index)]
recommended_movies

How many movies do u want?
20
20 movies similar to fight club, pulp fiction are:

,movieId,title,genres,year
143,145,bad boys,Action|Comedy|Crime|Drama|Thriller,1995
1398,1432,metro,Action|Comedy|Crime|Drama|Thriller,1997
4625,4719,osmosis jones,Action|Animation|Comedy|Crime|Drama|Romance|Th...,2001
4861,4956,"stunt man, the",Action|Adventure|Comedy|Drama|Romance|Thriller,1980
4923,5018,motorama,Adventure|Comedy|Crime|Drama|Fantasy|Mystery|S...,1991
6706,6815,into the night,Action|Comedy|Drama|Thriller,1985
9459,27735,unstoppable,Action|Adventure|Comedy|Drama|Thriller,2004
10968,44861,dead fish,Action|Comedy|Drama|Thriller,2004
12123,55116,"hunting party, the",Action|Adventure|Comedy|Drama|Thriller,2007
12720,59844,"honor among thieves (adieu l'ami) (farewell, f...",Action|Adventure|Crime|Drama|Mystery|Thriller,1968
12744,59947,"protector, the",Action|Comedy|Drama|Thriller,1985
16055,81132,rubber,Action|Adventure|Comedy|Crime|Drama|Film-Noir|...,2010
21884,105338,kabul express,Action|Comedy|Drama|Thriller,2006
24670,115911,"prodigy, the",Action|Children|Drama|Mystery|Thriller,2005
25218,117646,dragonheart 2: a new beginning,Action|Adventure|Comedy|Drama|Fantasy|Thriller,2000
29627,135380,flatfoot in hong kong,Action|Comedy|Drama|Thriller,1975
30732,139159,aadhavan,Action|Children|Comedy|Drama|Thriller,2009
32418,144576,seoul raiders,Action|Comedy|Drama|Thriller,2005
32522,144940,the vultures,Action|Comedy|Drama|Thriller,1984
34120,151343,the raspberry reich,Action|Comedy|Drama|Thriller,2004